[merge]
  tool 	= mergetool
[alias]
  a     = add --all
  amend = commit --amend
  br    = branch
  co    = checkout
  ci    = commit
  ciam  = commit -am
  wip   = commit -am '[...work in progress...]'
  ups   = commit -am '[...update submodules...]'
  upd   = commit -am '[...update doc...]'
  fc    = commit -am '[...fix cucumber test...]'
  d     = diff
  df    = diff --stat --minimal
  gr    = grep --color --ignore-case -n
  l     = log
  pu    = pull
  pom   = push origin master
  po    = push origin
  r     = rebase
  rst   = reset
  st    = status
  sta   = status --short --branch --untracked-files=normal
  ta    = tag -a
  rms   = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"
  bl    = "!f(){ git for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'; }; f"
[user]
  name  = Thomas HUMMEL
  email = thomas@hummel.link
	signingkey = A50E4B0A
[github]
  user  = Thomas HUMMEL
  email = thomas@hummel.link
[format]
  pretty = %C(magenta reverse)%h%Creset %Cgreen[%cr]%Creset (%an) %s
[url "git://github.com/"]
  # Read-only
  insteadOf = gh:
[url "git@github.com:"]
  # With write access
  insteadOf = wgh:
[credential]
	helper = cache
[push]
  # Push current branch even if you've never pushed it before
  default = current
[pull]
  # Push current branch even if you've never pushed it before
  default = current
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[init]
	templatedir = ~/.git-templates
[help]
	autocorrect = 1
[commit]
  gpgsign = true
