[merge]
  tool 	= mergetool
[alias]
  a     = add --all
  amend = commit --amend
  br    = switch -c
  co    = checkout
  ci    = commit
  ciam  = commit -am
  wip   = commit -am '[...work in progress...]'
  ups   = commit -am '[...update submodules...]'
  upd   = commit -am '[...update doc...]'
  d     = diff
  df    = diff --stat --minimal
  gr    = grep --color --ignore-case -n
  l     = log
  pu    = pull
  pom   = push origin master
  po    = push origin
  r     = rebase
  rst   = reset
  st    = status
  sta   = status --short --branch --untracked-files=normal
  ta    = tag -a
  rms   = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"
  bl    = "!f(){ git for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'; }; f"
[user]
  name  = Thomas HUMMEL
  email = thomas@hummel.link
  signingkey = 856B820CC7C070E5
[github]
  user  = Thomas HUMMEL
  email = thomas@hummel.link
[format]
  pretty = %C(magenta reverse)%h%Creset %Cgreen[%cr]%Creset (%an) %s
[url "git://github.com/"]
  # Read-only
  insteadOf = gh:
[url "git@github.com:"]
  # With write access
  insteadOf = wgh:
[credential]
	helper = cache
[push]
  # Push current branch even if you've never pushed it before
  default = current
  autoSetupRemote = true
[pull]
  # Push current branch even if you've never pushed it before
  default = current
  rebase = true
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[help]
  autocorrect = 1
[commit]
  gpgsign = false
[gpg]
  program = gpg2
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[merge]
  tool = p4merge
  ;cmd = open -W -a Meld --args \"$PWD/LOCAL\" \"$PWD/$REMOTE\"
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[rebase]
  autoStash = true
[core]
  excludesfile = /Users/thomas/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
